<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
autoReload="true"
throwExceptions="false"
internalLogLevel="Off">

	<variable name="DirectoryLogs" value="${basedir}/logs/${shortdate}" />
	
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<targets>
		<target name="gmail" xsi:type="Mail"
		smtpServer="smtp.gmail.com"
		smtpPort="587"
		smtpAuthentication="Basic"
		smtpUserName="delurya22@gmail.com"
		smtpPassword="vrbt gmxg qmid gkfx"
		enableSsl="true"
		from="delurya22@gmail.com"
		to="delurya22@gmail.com"
		subject="Ошибка в приложении"
		body="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=ToString,StackTrace}"
		encoding="utf-8"/>

		<target xsi:type="File" name="AllLogsFile"
				fileName="${DirectoryLogs}/nlog-${shortdate}.log"
				deleteOldFileOnStartup="true" concurrentWrites="true" />
	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="gmail" />

		<logger name = "*" minlevel="Trace" writeTO="AllLogsFile">
			<filter>
				<when condition="contains(logger, 'Microsoft.AspNetCore.Mvc.Infrastructure')" action="Log" />
			</filter>
		</logger>
	</rules>
</nlog>